<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>img</key>
		<string>clear_day-1</string>
		<key>Img</key>
		<string>clear_day</string>
	</dict>
	<dict>
		<key>img</key>
		<string>fair_day-1</string>
		<key>Img</key>
		<string>fair_day</string>
	</dict>
	<dict>
		<key>Img</key>
		<string>mostly_cloudy_day_night</string>
		<key>img</key>
		<string>mostly_cloudy_day_night-1</string>
	</dict>
	<dict>
		<key>Img</key>
		<string>scattered_showers_day_night</string>
		<key>img</key>
		<string>scattered_showers_day_night-1</string>
	</dict>
	<dict>
		<key>Img</key>
		<string>thundershowers_day_night</string>
		<key>img</key>
		<string>thundershowers_day_night-1</string>
	</dict>
	<dict>
		<key>Img</key>
		<string>thunderstorm_day_night</string>
		<key>img</key>
		<string>thunderstorm_day_night-1</string>
	</dict>
	<dict>
		<key>img</key>
		<string>snow_rain_mix_day_night-1</string>
		<key>Img</key>
		<string>snow_rain_mix_day_night</string>
	</dict>
	<dict>
		<key>img</key>
		<string>light_rain_day_night-1</string>
		<key>Img</key>
		<string>light_rain_day_night</string>
	</dict>
	<dict>
		<key>Img</key>
		<string>scattered_showers_day_night</string>
		<key>img</key>
		<string>scattered_showers_day_night-1</string>
	</dict>
	<dict>
		<key>Img</key>
		<string>rain_day_night</string>
		<key>img</key>
		<string>rain_day_night-1</string>
	</dict>
	<dict>
		<key>Img</key>
		<string>thunderstorm_day_night</string>
		<key>img</key>
		<string>thunderstorm_day_night-1</string>
	</dict>
	<string></string>
	<string></string>
	<dict>
		<key>Img</key>
		<string>scattered_showers_day_night</string>
		<key>img</key>
		<string>scattered_showers_day_night-1</string>
	</dict>
	<dict>
		<key>Img</key>
		<string>flurries_day_night</string>
		<key>img</key>
		<string>flurries_day_night-1</string>
	</dict>
	<dict>
		<key>Img</key>
		<string>snow_day_night</string>
		<key>img</key>
		<string>snow_day_night-1</string>
	</dict>
	<dict>
		<key>Img</key>
		<string>heavy_snow_day_night</string>
		<key>img</key>
		<string>heavy_snow_day_night-1</string>
	</dict>
	<string></string>
	<dict>
		<key>Img</key>
		<string>fog_sun_day</string>
		<key>img</key>
		<string>fog_sun_day-1</string>
	</dict>
	<string></string>
	<string></string>
	<dict>
		<key>Img</key>
		<string>scattered_showers_day_night</string>
		<key>img</key>
		<string>scattered_showers_day_night-1</string>
	</dict>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<dict>
		<key>Img</key>
		<string>dust_day_night</string>
		<key>img</key>
		<string>dust_day_night-1</string>
	</dict>
</array>
</plist>
